<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">dummy</a></li>
            <li class="breadcrumb-item active" aria-current="page">dummy</li>
        </ol>
        <div class="dropdown sign-out">
            <button class="btn link-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item text-bg-light link-secondary" href="/login">Login</a></li>
            </ul>
        </div>
        <div class="dropdown sign-in">
            <button class="btn link-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item text-bg-light link-success" href="#">Profile</a></li>
                <li><a class="dropdown-item text-bg-light link-primary" href="#">Security</a></li>
                <li><a class="dropdown-item text-bg-light link-danger" href="/logout">Exit</a></li>
            </ul>
        </div>
    </div>
</nav>