.container {
  width: 720px;
  margin: auto;
}

.col-left {
  width: 50%;
  float: left;
}

.col-right {
  width: 50%;
  float: right;
}

.col-center {
  width: 300px;
  margin: auto;
}

.col-left-space {
  padding-left: 100px;
}

p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: medium;
}